* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  width: 100vw;
  font-weight: bold;
  font-family: 'Arial';
}

.l-bar {
  background-color: #F4F4FB;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100vh;
}
.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding: 0 10px;
}
.main .top {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
table {
  width: 100%;
  border-spacing: 0;
}
table .center {
  text-align: center;
}
table thead:last-child thead:first-child {
  border-bottom-left-radius: 25px;
}
table tr:last-child() {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
thead {
  height: 40px;
  background-color: #F4F4FB;
  text-align: left;
  border-radius: 5px;
}
tbody > :nth-child(even) {
  background-color: #FAFAFC;
}
tr {
  height: 60px;
  border-radius: 25px;
}
tr:hover {
  background-color: #F4F4FB;
}

/* .r-bar {
  width: 500px;
  border-left: 2px solid #9391B1;
  padding: 15px;
  box-sizing: border-box;
  color: #72748E;
  fontSize: 1rem;
}
.r-bar .top {
  height: 252px;
  width: 100%;
  background: brown;
  border-radius: 5px;
}
.r-bar .top .title {

} */
input {
  margin-right: 10px;
}
span {text-align: right;}
img {
  border-radius: 50%;
}
.App-header {
  
  font-size: calc(10px + 2vmin);
}
